<html>
    <header>
        <title>Contact Me</title>
        <!-- Font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <!-- Animate -->
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        />
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/assets/styles/bootstrap.min.css">
        <!-- My style -->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400;9..40,800;9..40,1000&display=swap');
            
            * {
                font-family: 'DM Sans', sans-serif;
            }
            body {
                background-color: #E3E7EB;
            }
            .active {
                font-weight: bold;
            }
            form {
                width: 60%;
            }

            @media only screen and (max-width: 960px) {
                form {
                    width: 100%;
                }
            }
        </style>
    </header>

    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid gap-3 mx-0 mx-md-5" id="container">
            <a class="navbar-brand" href="/">
                <img src="/assets/img/brandred.png" alt="Dumbways" style="width: 80px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Project</a>
                </li>
                </ul>

                {{#unless isLogin}}
                <ul class="navbar-nav mx-0 mx-lg-5 mb-2 mb-lg-0 gap-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
                {{else}}
                <ul class="navbar-nav mx-0 mx-lg-5 mb-2 mb-lg-0 gap-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
                {{/unless}}
                <a href="/contact" type="button" class="btn btn-dark px-4 my-3 my-md-0">Contact Me</a>
            </div>
            </div>
        </nav>

        <div class="container d-flex flex-column justify-content-center" style="height: 90vh;">
            <h1 class="text-center fw-bold text-uppercase mb-5">get in touch</h1>
            <form class="row mx-auto g-3 needs-validation" novalidate>
                <!-- Name -->
                <div class="col-12">
                    <label for="inputName" class="form-label fw-bold">Name</label>
                    <input type="text" class="form-control shadow-sm" id="inputName" required>
                </div>

                <!-- Email -->
                <div class="col-12">
                    <label for="inputEmail" class="form-label fw-bold">Email</label>
                    <input type="email" class="form-control shadow-sm" id="inputEmail" required>
                </div>

                <!-- Phone Number -->
                <div class="col-12">
                    <label for="inputPhone" class="form-label fw-bold">Phone Number</label>
                    <input type="number" class="form-control shadow-sm" id="inputPhone" required>
                </div>

                <!-- Subject -->
                <div class="col-12">
                    <label for="inputSubject" class="form-label fw-bold">Subject</label>
                    <select class="form-select shadow-sm" id="inputSubject" required>
                        <option selected disabled value=""></option>
                        <option value="Frontend Developer">Frontend Developer</option>
                        <option value="Backend Developer">Backend Developer</option>
                        <option value="Fullstack Developer">Fullstack Developer</option>
                    </select>
                </div>

                <!-- Message -->
                <div class="col-12">
                    <label for="inputMessage" class="form-label fw-bold">Your Message</label>
                    <textarea class="form-control shadow-sm" id="inputMessage" rows="4" required></textarea>
                </div>

                <!-- Button -->
                <div class="col-12 d-flex justify-content-end">
                    <button class="btn btn-dark rounded-5 px-4 fw-bold mt-3" type="submit" onclick="submitButton()">Submit</button>
                </div>
            </form>
        </div>


        <script src="/assets/js/contact.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>