.projectName,
.desc {
    display: flex;
    flex-direction: column;
}

.date {
    display: flex;
    justify-content: space-between;
}

.startDate,
.endDate {
    width: 49%;
    display: flex;
    flex-direction: column;
}

textarea {
    margin-bottom: 30px;
}

.tech {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.techChecbox {
    display: flex;
    flex-wrap: wrap;
}

.inputCheckbox {
    width: 50%;
}

.inputCheckbox > label {
    font-weight: 400;
}

.uploadImage {
    display: flex;
    flex-direction: column;
}
.inputImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 3px 8px #CACBC9;
}
.inputImage > input {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    width: 100%;
}
.inputImage > i {
    padding: 0 20px;
}
input[type="file"]::-webkit-file-upload-button{
    background-color: #c2c2c2;
    padding: 15px;
    font-family: 'DM Sans', sans-serif;
    border: none;
    border-right: 1px solid #545557;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #545557;
}


.projectContainer {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.projectContainer > h1 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 80px;
    margin-top: 50px;
}
.projects {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
}
.projectCard {
    width: 30%;
    box-shadow: 2px 2px 10px #c2c2c2;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}
.projectImage img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.projectContent a {
    color: #545557;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 28px;
}
.projects p {
    height: 60px;
    overflow: hidden;
}
.detailProjectContent h4 {
    font-size: 15px;
    font-weight: 500;
    color: #545557;
    margin-bottom: 20px;
}
.projectTech {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.projectTech i {
    font-size: 25px;
    margin-right: 5px;
}
.projectTech img {
    width: 25px;
    margin-right: 5px;
    border-radius: 5px;
}

.btnGroup {
    display: flex;
    justify-content: space-between;
}
.btnGroup button {
    width: 48%;
    background-color: #111727;
    border: none;
    color: white;
    padding: 5px 0px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    transition: all ease 0.3s;
}
.btnGroup button:hover {
    background-color: white;
    color: #111727;
    box-shadow: 2px 2px 5px #545557;
}

.deleteCard {
    display: none;
}


@media (max-width: 1800px) {
    .projectCard {
        width: 28%;
    }
}

@media (max-width: 1200px) {
    .projects {
        width: 100%;
    }
}
@media (max-width: 900px) {
    .projectCard {
        width: 40%;
    }
    .projectImage img {
        height: 200px;
    }
    .projectContainer a {
        font-size: 20px;
    }
}